.main {
  /* width: 100vh; */
  max-width: 1300px;
  height: calc(100vh - 160px);
  margin: 0 auto;
  /* border: 1px solid black */
}

.contents {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}