.orderCheckContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.orderCheckContent {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 800px;
  margin: 20px;
}

.orderButton {
  border: none;
  background-color: #10664146;
}

.orderButton:hover {
  background-color: #106641ce;
  color: white;
}

/* DeliveryAddressInfo */
.selectAddressButton {
  border: none;
  background-color: #106641ce;
  color: white;
}

.selectAddressButton:hover {
  background-color:#0b492ece;
  color: white;
}

/* OrderingItemList */
.cover {
  aspect-ratio: 3.5/5;
  height: 90%;
}

.cover img {
  width: 100%;
  border: 1px solid #ccc;
}

.orginalPrice {
  color: #a1a1a1;
  text-decoration: line-through;
  margin-right: 5px;
}