.nav-button {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 8px 16px;
  border-radius: 6px;
  color: black;
  font-weight: 200;
  cursor: pointer;
  transition: background-color 0.2s;
}

.nav-button:hover {
  background-color: #ccc;
}