.profileCardFrame {
  width: 500px;
  height: 600px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.329);
  border-radius: 30px;
  padding: 20px 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileImageSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.profileImage {
  border: 1px solid #ccc;
  border-radius: 50%;
  aspect-ratio: 1/1;
  height: 150px;
}

.profileActionButtonContainer {
  display: flex;
  justify-content: center;
  gap: 15px;

  border-bottom: 2px solid #106641;
  padding: 40px 70px;
}

.profileActionButton {
  display: inline-block;

  background-color: #cccccc46;
  padding: 8px 16px;
  border-radius: 6px;
  color: black;
  font-weight: 200;
  cursor: pointer;
  transition: background-color 0.2s;
}

.profileActionButton:hover {
  background-color: #106641;
  color: white;
}

.profileMenuListContainter {
  padding: 25px;
  display: flex;
  gap: 15px;
}

.profileMenuListContainter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profileMenuListContainter li {
  padding: 15px 10px;
}

.profileMenuListContainter span {
  color: black;
}

.profileMenuListContainter span:hover {
  color: #106641;
}

.withdrawButtonContainer {
  margin-top: auto;
}